<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onClose()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Crop image</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onCropImage()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="image-cropper-wrap">
        <image-cropper [imageBase64]="image" imageQuality="100" format="jpeg" (imageCropped)="croppedImage($event)" [maintainAspectRatio]="false"></image-cropper>
    </div>
</ion-content>